.headerLink {
    margin-bottom: 30px;
    text-align: center;
}

.PageLink {
    color: darkolivegreen;
    margin-right: 10px;
    font-size: 40px;
}

.ActivePageLink {
    color: greenyellow;
    font-weight: bold;
}
