.ishopTable {
  margin: 0 auto;
  border: solid gray 3px;
  border-bottom: none;
  width: 80%;
  background-color: #F0F0F0;
}

.ishopTable .nameShop {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid gray 3px;
}

.ishopTable .tableItem {
  border-bottom: solid gray 3px;
  display: flex;
  background-color: khaki;
}

.ishopTable .tableItem .nameItem {
  width: 25%;
  border-right: solid gray 3px;
  text-align: center;
}

.ishopTable .tableItem .price {
  width: 25%;
  border-right: solid gray 3px;
  text-align: center;
}

.ishopTable .tableItem .url {
  width: 25%;
  border-right: solid gray 3px;
  text-align: center;
}

.ishopTable .tableItem .quantity {
  width: 25%;
  text-align: center;
}